<p>Surveillance without Borders is a resource which illustrates how surveillance is being carried out around the world based on the Snowden revelations. </p>

<p> While the Snowden revelations might feel a bit "too 2013" by now, let's not forget that they provide a goldmine in terms of understanding the politics behind surveillance and how and why it is being carried out globally. However, the huge amount of documents which have been leaked (and which continue to be leaked) are quite overwhelming, thus potentially limiting the ability to correlate revelations contextually, to raise questions and to take action. Surveillance without Borders was developed in an attempt to address this problem. </p>

<p>The project includes a global data map which classifies all of the Snowden revelations for each country around the world under the following categories:</p>

<ul>
<li>Political leaders under surveillance</li>
<li>Corporations under surveillance</li>
<li>Collaboration between corporations and intelligence agencies</li>
<li>Collaboration between intelligence agencies around the world</li>
<li>Mass surveillance of citizens (to be released soon)</li>
<li>Targeted surveillance of citizens (to be released soon)</li>
</ul>

<p>The aim of Surveillance without Borders is to:</p>
<ul>
<li>Provide an overview of (some of) the categories and types of information that are included in the Snowden revelations</li>
<li>Enable access to information from the Snowden revelations </li>
<li>Enable research and investigations on surveillance (on both global and local levels)</li>
<li>Illustrate some of the political and economic interests behind surveillance </li>
<li>Shed light on private-public partnerships involving the surveillance of citizens</li>
</ul>

<p>Through its global data map, Surveillance without Borders aims to enable researchers, journalists, activists, advocates and the public at large to quickly and easily gain access to information which is more specific to their local context. Hopefully this will not only contribute to more research and public awareness raising, but also to more global actions towards transparency and accountability. </p>
