<p>Surveillance without Borders is based on publicly available documents which have been leaked by NSA whistleblower, Edward Snowden, and aims to provide a comprehensive resource on how surveillance is being carried out around the world. As the current volume of documents is quite huge and more documents will likely continue to get leaked, contributions to the project would deeply be appreciated!</p> 

<p>At this stage, you can contribute to the project through <b>data collection and classificiation</b>, and/or through the creation of new <b>data visualizations and narratives</b>.</p>

<h4><b>Data Collection and Classification</b></h4>

<p>Surveillance without Borders has based its resource on the <b><a href="https://www.edwardsnowden.com/revelations">Courage Foundation's release of the Snowden revelations</a></b> because each of those revelations contains both the source documents and all relevant media articles which provide more context. All of those revelations were <a href="https://github.com/surveillance-without-borders/surveillance-without-borders/tree/master/app/data">classified</a> into the following six categories:</p>

<ul>
	<li><a href="https://github.com/surveillance-without-borders/surveillance-without-borders/blob/master/app/data/Politicians-processed.csv">Political leaders under surveillance</a></li>
	<li><a href="https://github.com/surveillance-without-borders/surveillance-without-borders/blob/master/app/data/Corporations-processed.csv">Corporations under surveillance</a></li>
	<li><a href="https://github.com/surveillance-without-borders/surveillance-without-borders/blob/master/app/data/CollaborationINT-processed.csv">Collaboration between intelligence agencies</a></li>
	<li><a href="https://github.com/surveillance-without-borders/surveillance-without-borders/blob/master/app/data/CollaborationIAC-processed.csv">Collaboration between intelligence agencies and corporations</a></li>
	<li><a href="https://github.com/surveillance-without-borders/surveillance-without-borders/blob/master/app/data/PubMASS-processed.csv">Mass surveillance of citizens</a></li>
	<li><a href="https://github.com/surveillance-without-borders/surveillance-without-borders/blob/master/app/data/PubTARGETED-processed.csv">Targeted surveillance of citizens</a></li>
</ul>

<p>Once all of the revelations (as released by the Courage Foundation) were classified, <a href="https://github.com/surveillance-without-borders/surveillance-without-borders/tree/master/app/data">CSV documents</a> were created for each of the above categories. Through these CSV documents, the following types of data were collected for each revelation:</p>

<ul>
	<li>Intelligence agencies</li>
	<li>Countries</li>
	<li>Authorization for surveillance</li>
	<li>Codenames of surveillance programmes</li>
	<li>Types of surveillance</li>
	<li>Types of data collected</li>
	<li>Data collection source</li>
	<li>Targets of surveillance</li>
	<li>Collaborating intelligence agencies</li>
	<li>Collaborating companies</li>
	<li>Codenames of collaborating companies</li>
</ul>

<p>The above classifications and types of data collection were chosen to address the following questions based on the Snowden revelations:</p>

<ul>
	<li>Who is carrying out surveillance (internationally)?</li>
	<li>What type of surveillance is being carried out?</li>
	<li>What types of data are being collected?</li>
	<li>Where is data being collected from?</li>
	<li>Who is a target of surveillance and why?</li>
	<li>How are the specific types of surveillance legally authorised?</li>
	<li>How is surveillance being carried out internationally, beyond the U.S.A?</li>
	<li>Who do intelligence agencies collaborate with and why?</li>
	<li>How does surveillance affect "ordinary", law abiding citizens?</li>
	<li>How does surveillance expand beyond "national security" justifications?</li>
</ul>

<p>Through its classification of the Snowden revelations and subsequent data collection, Surveillance without Borders attempts to address these questions.</p>

<p>You can contribute to the above directly through the project's <b><a href="https://github.com/surveillance-without-borders">github repository</a></b> through one or more of the following:</p>

<ul>
	<li>Review of the <a href="https://github.com/surveillance-without-borders/surveillance-without-borders/tree/master/app/data">CSV documents</a>: If you notice any inaccuracies, suggest edits.</li>
	<li>When/if new revelations are <a href="https://www.edwardsnowden.com/revelations">released</a>, you can suggest their classification in one of the existing CSV documents or you can suggest a new category to accommodate them.</li>
	<li>Data collection for new releases based on the existing data fields/columns which are included in each CSV document.</li>
	<li>Suggestion of new fields for data collection for the existing (or new) CSV documents</li>
	<li>Suggestion of an entirely new methodology for data collection and classification based on the leaked documents!</li>
</ul>

<p>If you're not a github user but would still like to contribute to the project's data collection and classifications, you can do so by contacting <b>maria.x@espiv.net</b>.</p>

<p><b>Note:</b> You can automate the collection of certain types of data (if they are explicitly included in documents), such as "NSA" for "intelligence agencies", but you will probably have to collect many types of data by manually going through the leaked documents and related media publications. While this might sound a bit um...time-consuming, the trade-off is that you will likely learn a lot and come across very interesting information. :)</p>

<h4><b>Visualizations and Narratives</b></h4>

<p>If you're a good storyteller and/or enjoy creating data visualizations, this is the place for you!</p>

<p>Surveillance without Borders currently includes a <b>global data map</b> because its initial aim was to (a) illustrate that surveillance is being carried out internationally and affects most (if not all) countries around the world, (b) illustrate that a global surveillance ecosystem is being developed through transnational, public-private partnerships and (c) to enable local efforts around the world in understanding the Snowden revelations and in taking action towards transparency and accountability.</p>

<p>That said, many different types of visualizations and narratives can be created based on the existing <a href="https://github.com/surveillance-without-borders/surveillance-without-borders/tree/master/app/data">CSV documents</a> and/or new questions/datasets. You can contribute to the project through one or more of the following:</p>

<ul>
	<li>Creation of new visualizations based on data from the project's current <a href="https://github.com/surveillance-without-borders/surveillance-without-borders/tree/master/app/data">CSV documents</a></li>
	<li>Suggestion of new types of data collection for the creation of new data visualizations</li>
	<li>Suggestion of new types of classifications (of the revelations) and their respective data fields for the creation of new data visualizations</li>
	<li>Suggestion of new narratives and questions based on the Snowden revelations</li>
</ul>

All other ideas are more than welcome! Please contact <b>maria.x@espiv.net</b>. 






