<div class="row info-box" ng-switch="selectedCategory">
    <div ng-switch-when="Leaders">
        <img src="/images/categories/political-leaders.png" class="category-image"/>
        <h4>Political leaders under surveillance</h4>
        <p>The politics of surveillance illustrate that some countries have had unequal political advantage in global affairs and negotiations.</p>

        <p>Intelligence agencies spied on numerous international political leaders – including allies – to help their governments influence negotiations to their advantage, as illustrated by the Snowden revelations.</p>

        <p>Such espionage has targeted the communications of international government representatives attending global summits, such as the <b>Copenhagen Climate Summit</b>, the <b>G20 Summits</b> in Toronto and London, as well as negotiations at the <b>United Nations Security Council</b> and the <b>trans-Atlantic free trade agreement.</b></p>
    </div>
    <div ng-switch-when="Corporate collaboration">
        <img src="/images/categories/collaboration-intelligence-corporations.png" class="category-image"/>
        <h4>Collaboration between intelligence agencies and companies</h4>
        <p>
        Public-private partnerships of surveillance have targeted the communications of citizens and government representatives around the world.
        </p>

        <p>
        Some of the most popular internet companies have worked hand-in-hand with intelligence agencies to develop surveillance backdoors, while other widely used telecoms service providers have helped intelligence agencies intercept undersea cables.
        </p>
    </div>
    <div ng-switch-when="Intelligence">
        <img src="/images/categories/collaboration-intelligence.png" class="category-image"/>
        <h4>Collaboration between intelligence agencies</h4>
        <p>The NSA is not alone in the global spying game. It collaborates closely with various other intelligence agencies around the world which provide it direct access to networks, infrastructure and databases. And in some cases, other intelligence agencies spy for the NSA, in exchange for access to data and other benefits.</p>

        <p>Surveillance carried out by collaborations between intelligence agencies have targeted the communications of government representatives and firms around the world. Together, intelligence agencies have exploited the internet's infrastructure, gaining indiscriminate access to citizens communications in certain cases.</p>

    </div>
    <div ng-switch-when="Corporations">
        <img src="/images/categories/corporations.png" class="category-image"/>
        <h4>Corporations under surveillance</h4>
        <p>
        Companies around the world have been targeted by intelligence agencies. This includes some of the most commonly used internet companies, such as Google, Microsoft and Facebook, as well as telecom service providers, security companies and even oil firms.  
        </p>
        <p>
        Such surveillance has been carried out to provide US firms a competitive advantage, to gain direct access to citizens communications and other personal information, as well as to spy on political leaders who rely on certain network infrastructure provided by companies. 
        </p>
    </div>
    <div ng-switch-when="Mass">
        <h4>Mass surveillance of citizens</h4>
        <img src="/images/categories/mass-surveillance.png" class="category-image"/>
        <p>Almost all of our communications worldwide are routinely being collected and analysed, according to the Snowden revelations. “Ordinary” law-abiding citizens around the world are not immune to intelligence agencies' prying eyes.</p>
        <p>While governments and intelligence agencies justify surveillance on the grounds of detecting and preventing crime and terror, the documents leaked by Snowden reveal that they follow a <b>“collect it all”</b> strategy which involves the indiscriminate bulk collection of most communications. This includes millions of <b>Yahoo web cam images</b>,  the real time monitoring of users' activity on popular social media platforms – such as <b>Facebook</b>, <b>Twitter</b>, <b>Blogger</b> and <b>YouTube</b> – and the monitoring of “nearly everything a user does on the internet”.</p>
    </div>
    <div ng-switch-when="Targeted">
        <img src="/images/categories/targeted-surveillance.png" class="category-image"/>
        <h4>Targeted surveillance of citizens</h4>
        <p>Tens of thousands of computer networks have been infected with malware by the NSA. Backdoors have been added to computer network devices, such as routers and servers, and attempts to crack crypto and to exploit VPNs and anonymity software have been carried out.</p>
        <p>Cyber attacks have not only targeted suspect terrorists, but also non-profit organisations - such as France's Doctors of the World - system administrators, hacktivists, media organizations and even online gamers.</p>
        </div>
    <p>
    Select a country in the map below to learn more.
    </p>

</div>

<div class="row">
    <div class="navbar categories">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default" ng-class="{'active': selectedCategory == 'Leaders'}" ng-click="openPanel('Leaders')">Leaders</button>
          <button type="button" class="btn btn-default" ng-class="{'active': selectedCategory == 'Corporate collaboration'}" ng-click="openPanel('Corporate collaboration')">Corporate collaboration</button>
          <button type="button" class="btn btn-default" ng-class="{'active': selectedCategory == 'Intelligence'}" ng-click="openPanel('Intelligence')">Intelligence collaboration</button>
          <button type="button" class="btn btn-default" ng-class="{'active': selectedCategory == 'Corporations'}" ng-click="openPanel('Corporations')">Corporations</button>
          <button type="button" class="btn btn-default" ng-class="{'active': selectedCategory == 'Mass'}" ng-click="openPanel('Mass')">Mass</button>
          <button type="button" class="btn btn-default" ng-class="{'active': selectedCategory == 'Targeted'}" ng-click="openPanel('Targeted')">Targeted</button>
        </div>
    </div>
</div>
<div class="row map-wrapper">
    <button type="button" class="btn btn-default global-button" ng-class="{'active': selectedCountry.id == 'GLB'}" ng-click="selectGlobal()">Global</button>
    <datamap map="mapObject" on-click="updateActiveGeography"></datamap>
</div>
<div class="country-details" id="details">
    <div ng-show="selectedCountry" >
        <div class="row">
            <h1>{{ selectedCountry.name }}</h1>
        </div>
        <div class="row" ng-if="!selectedRevelations">
            <h4>No data</h4>
        </div>
    </div>

    <div class="row revelation" ng-repeat="data in selectedRevelations" ng-init="enabled = false">
        <div class="row">
            <div ng-click="enabled = enabled ? false : true" class="revelation-expand">
                <span ng-if="enabled !== true" class="label label-default">
                    <i class="glyphicon glyphicon-plus"></i>
                </span>
                <span ng-if="enabled === true" class="label label-default expand-revelation">
                    <i class="glyphicon glyphicon-minus"></i>
                </span>
            </div>
            <div class="revelation-title">
                <h3>
                    {{ data["Revelations"] }}
                </h3>
            </div>
        </div>
        <div class="well details" ng-show="enabled" >
            <div class="row item" ng-if="['Revelations', 'Countries'].indexOf(key) == -1" ng-repeat="(key, value) in data">
                <div class="col-md-6 category-name">
                    <h4>{{key}}</h4>
                </div>
                <div ng-if="key === 'Source documents & publications'" class="col-md-6 category-value">
                    <a href="{{value}}">{{value}}</a>
                </div>
                <div ng-if="key !== 'Source documents & publications'" class="col-md-6 category-value">
                    <p>{{value}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
