<p>The good news is that encryption still works. 

<img src="/images/otr-works.png"/>

<p>Edward Snowden has <a href="http://www.theguardian.com/world/2013/jun/17/edward-snowden-nsa-files-whistleblower">stated</a>: <b><i>"Properly implemented strong crypto systems are one of the few things you can rely on..."</i></b></p>

<p>And the even better news is that learning to encrypt your emails and instant messages, and to browse the internet anonymously does not require being a digital security expert anymore. Below are some <b>hands-on guides</b> which can walk you, step-by-step, through the process of installing and using various digital security tools:</p> 

<ul>
	<li><a href="https://securityinabox.org/en">Security in-a-box</a></li>
	<li><a href="https://ssd.eff.org/">Surveillance Self-Defense</a></li>
	<li><a href="https://secfirst.org/index.html">Umbrella: Security First</a></li>
</ul>

<p>Through such guides, you can learn how to encrypt the content of your <a href="https://www.gnupg.org/">emails</a>, <a href="https://otr.cypherpunks.ca/">instant messages</a> and <a href="https://veracrypt.codeplex.com/">personal documents</a>, as well as how to <a href="https://www.torproject.org/">browse the internet anonymously</a>. You can also learn how to secure your <a href="https://securityinabox.org/en/mobile-tools">mobile phones</a>.</p>

<p>Since many of the documents leaked by Snowden show that intelligence agencies <a href="https://edwardsnowden.com/revelations#prism-an-nsa-partnership-with-us-service-providers">target some of the most popular internet companies</a> (such as Google, Facebook and Yahoo), you might be wondering which <b>alternative, privacy-friendly</b> online services to use. In this case, you can consider using the tools and services listed in the following resource: <a href="https://myshadow.org/resources">myshadow.org/resources</a>.</p>

<p>While properly using encryption and various digital security tools is good practice, unfortunately it's not a silver bullet. Some of the most common <a href="https://citizenlab.org/publications/">targeted attacks against human rights activists</a>, for example, are deployed through relatively simple techniques, such as infected email attachments. In short, it's important to think of security as an overall strategy, embedded in your daily life, rather than just as the use of specific tools.</p>    
